@import url(https://fonts.googleapis.com/css?family=Roboto);

body { font-family: 'Roboto', serif;
display: flex;
flex-direction:column;
margin: 0
}


    .titulo{
        font-size: 48px;
        font-weight: bolder;
        color: #F9FAF8;
        display: flex;
        justify-content: flex-start;
        margin: 0;
    }

    .logo{
        font-size: 24px;
        color: #F9FAF8
    }

.header{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

    ul{
        text-decoration: none;
        list-style-type: none;  
        display: flex;
        gap: 50px
    }

    p{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        color: #E5E7EB;
    }

    .mid{
        background-color: white;
        display: flex;
        justify-content: center;
    }

    .quotebg{
        background-color: #E5E7EB;
        display: flex;
        justify-content: space-evenly;
        color: #1F2937;
    }

    .botao{
        background-color: #3882F6;
        color: white;
        font-size: 18px;
        font-weight: bolder;
        padding: 10px 30px;
        max-width: 150px;
        border-radius: 25px;
        border: 0;

    }

    .white{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    .sub{
        background-color: #3882F6;
        padding: 20px 80px;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

    }

    .footer{
        background-color: #1F2937;
        width: 100%;
        align-self: center;
    }

    .footer2{
        text-align: center;
    }

    .title {
        font-size: 36px;
        font-weight: bolder;
        color: #1F2937;
        display: flex;
       justify-content: center;
       padding-top: 40px;
       padding-bottom: 40px;
    }

    .text{
        font-size: 18px;
        color: #1F2937;
        display: flex;
        max-width: 200px
    }

    .container{
        display: flex;
        justify-content: center;
        gap: 80px;
    }


    a{
        color: #E5E7EB;
        text-decoration: none;
    }

    .taylor{
        height: 300px;
        width: 300px;
        border-radius: 20px;
        border: 3px solid #3882F6;
        /*Esse é o código p/ 
        border-width: 3px;
        border-style: solid;
        border-color: #3882F6; */
    }

    .wrapper{
        width: 100%;
        max-width: 900px;
        padding: 0 50px;
        display:flex;
        justify-content: space-between;
    }

    .mainpage{
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #1F2937;
    }

    .sidebar{
        max-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .pegatudo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapperwhite{
        width: 100%;
        max-width: 900px;
        padding: 0 50px;
        display:flex;
        justify-content: center;
    }

    .sub1{
        font-size: 24px;
        font-weight: bolder;
        color: #F9FAF8;
    }

    .sub2{
        font-size: 18px;
        font-style: italic;
        color: #F9FAF8;
    }

    .quote2{
font-size: 36px;
color: #1F2937;
font-weight: lighter;
font-style: italic;
padding-top: 80px;
margin: 0
    }

    .quote3{
        font-size: 24px;
        color:#1F2937;
        font-weight: bolder;
        padding-bottom: 80px;
        margin: 0;
        text-align:end
    }

    .wrappergray{
        width: 100%;
        max-width: 900px;
        padding: 0 50px;
        display:flex;
        flex-direction: column;
    }

    .textos{
        padding-bottom: 80px;
    }


    .confirm-button{
        background-color: #3882F6;
        color: white;
        font-size: 18px;
        font-weight: bolder;
        padding: 10px 30px;
        max-width: 150px;
        border-radius: 25px;
        border: 3px solid white;
    }
    
    .flop{
        border-radius: 20px;
        border: 3px solid #3882F6;
    }